<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h2>Hello {{userName}}!</h2>
</div>
<div>
    <a href="/">Go to welcome page</a>
</div>
</body>
</html>