<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1>{{welcome}}</h1>
</div>
<div>
    <a href="greeting">Greeting for a stranger</a>
</div>
</body>
</html>